{% set _route = app.request.attributes.get('_route') %}

{{ form_start(form,{'attr':{'class':'border bg-white g-opacity-50 rounded-5 p-4 mx-auto'}}) }}

{{ form_errors(form) }}

<div class="form-outline mb-4">
	{{ form_widget(form.name) }}
	{{ form_label(form.name, null, {'label': 'Name'|trans({},null, lang),'label_attr': {'class': 'form-label'}}) }}

</div>
<div class="form-outline mb-4">
	{{ form_widget(form.email) }}
	{{ form_label(form.email, 'Email'|trans({},null, lang), {'label_attr': {'class': 'form-label'}}) }}
</div>
<div class="input-group mb-4">

	{{ form_widget(form.password,{'required':(_route == 'admin_manager_new' ? true : false),'attr': {'class': 'form-control form-icon-trailing','placeholder':'Password'|trans({},null, lang)}}) }}
 	
	<span class="input-group-text ">
		<a onClick="changeTypePassword(event)" class="btn btn-tertiary" id="change-type-password" data-mdb-ripple-color="light">
			<i class="far fa-eye text-dark"></i>
		</a>
	</span>
	<button onClick="createPassword(event)" class="btn btn-outline-success" type="button" data-mdb-ripple-color="dark">
    	Generar
  	</button>
	
</div>

{# <div class="form-outline mb-4">
	{{ form_widget(form.roles) }}
</div> #}
<div class="mb-4">
	{{ form_label(form.image, 'images_with_the_extension'|trans({},null, lang), {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.image,{'attr': {'class': 'form-control','lang': 'es',"accept": ".png,.jpg,.jpeg"}}) }}
</div>
<div class="d-flex justify-content-end">
	<button class="btn btn-outline-success">{{ button_label|default('Register'|trans({},null, lang) ) }}</button>
</div>

{{ form_end(form) }}
