{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Edit #%text%' | trans({ '%text%': admin.id },null, lang) }}
{% endblock %}
{% block header %}{{ 'Edit #%text%' | trans({ '%text%': admin.id },null, lang) }}
{% endblock %}
{% block body %}

	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="col-12 col-md-4">
				<div class="text-center">
					<img onerror="this.onerror=null;this.src='{{ asset('assets/img/profile-default.png') }}';" src="{{admin.image != '' ? asset('assets/uploads/profile-pictures/' ~ admin.image):asset('assets/img/profile-default.png')}}" width="150" class="border img-fluid rounded-circle" alt="Avatar default" loading="lazy"/>
					
					{% if admin.image != '' %}

						<div class="text-center mt-2">
							<button type="button" class="btn btn-outline-danger" id="delete-image" data-mdb-ripple-init data-mdb-ripple-color="dark">Eliminar imágen</button>
						</div>

					{% endif %}
					
					<p class="fw-bold mb-4 mt-2">{{admin.email}}</p>
					
				</div>
				{% for message in app.flashes('success') %}
					<div class="flash-notice alert alert-success my-4">
						<span class="form-error-icon badge badge-success text-uppercase">{{'Success'|trans({},null, lang)}}</span>
						{{ message }}
					</div>
				{% endfor %}
				{{ include('admin/super_admin/_form.html.twig', {'button_label': 'updated'|trans({},null, lang)}) }}

			</div>
		</div>

	</div>


{% endblock %}

{% block javascripts %}

{{parent()}}

<script>

	$(document).ready(function(){

		console.log("{{ path('delete_image',{id:admin.id}) }}")

		$('#delete-image').click(function(){

			$.ajax({
				url: "{{ path('delete_image',{id:admin.id}) }}",
				type: 'POST',
				dataType: 'html',
				success: function (response) {
					if(response == 0)
					    location.reload();

				},
				error: function (jqXHR, status, error) {
					console.log('Disculpe, existió un problema');
				}
			});

		})

	})

</script>

{% endblock %}
