{% extends 'admin/base.html.twig' %}

{% block title %}

	{{ 'Administrators'|trans({},null, lang) }}

{% endblock %}
{% block header %}

	{{ 'Administrators'|trans({},null, lang) }}

{% endblock %}
{% block body %}

	{% include 'admin/includes/message_response.html.twig' %}

	<div class="container-fluid mb-5">

		<div class="action-buttons">
			<a href="{{ path('admin_manager_new') }}" class="btn btn-outline-success float-start">
				<i class="fas fa-plus"></i>
				{{ 'New'|trans({},null, lang) }}</a>
			<a href="{{ path('admin_manager_excel') }}" class="btn btn-outline-success float-end ms-3">
				<i class="fas fa-file-excel"></i>
				{{ 'Excel'|trans({},null, lang) }}</a>
		</div>

		<div class="table-container datatable datatable-hover datatable-bordered datatable-sm datatable-striped" id="datatable">
			<table class="table" data-mdb-sm="true" data-mdb-hover="true" data-mdb-bordered="true" data-mdb-striped="true" data-mdb-full-pagination="true" data-mdb-fixed-header="true" data-mdb-border-color="secondary">
				<thead>
					<tr>
						<th>{{ 'Name'|trans({},null, lang) }}</th>
						<th>{{ 'Email'|trans({},null, lang) }}</th>
						<th>{{ 'Roles'|trans({},null, lang) }}</th>
						<th>{{ 'Registration date'|trans({},null, lang) }}</th>
						<th>{{ 'Updated date'|trans({},null, lang) }}</th>
						<th>{{ 'Active'|trans({},null, lang) }}</th>
						<th>{{ 'Actions'|trans({},null, lang) }}</th>
					</tr>
				</thead>
				<tbody>
					{% for admin in admins %}
						<tr>
							<td>
								<div class="d-flex align-items-center text-start">
									<img onerror="this.onerror=null;this.src='{{ asset('assets/img/profile-default.png') }}';" src="{{admin.image != '' ? asset("assets/uploads/profile-pictures/#{admin.image}") : asset('assets/img/profile-default.png')}}" alt="Avatar default" loading="lazy" style="width: 45px; height: 45px" class="rounded-circle"/>
									<div class="ms-3">
										<p class="fw-bold mb-1">#{{ admin.id }} {{ admin.name }}</p>
										<p class="text-muted mb-0">{{ admin.email }}</p>
									</div>
								</div>
							</td>
							<td>{{ admin.email }}</td>
							<td>
								{% if admin.roles  %}

									{% for item in admin.roles %}
										<span class="badge badge-primary small">{{item|replace({"ROLE_": ""})}}</span>
									{% endfor %}

								{% endif %}
							</td>
							<td>{{ admin.registeredAt ? admin.registeredAt|date('d-m-Y H:i:s') : '' }}</td>
							<td>{{ admin.updatedAt ? admin.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
							<td>
								{% if admin.active %}

									<a type="button" href="{{ path('admin_manager_disable',{'id':admin.id}) }}" class="btn btn-sm btn-success btn-floating mx-auto d-flex align-items-center justify-content-center">
										<span>
											<i class="fas fa-check"></i>
										</span>
									</a>
								{% else %}
									<a type="button" href="{{ path('admin_manager_enable',{'id':admin.id}) }}" class="btn btn-sm btn-danger btn-floating mx-auto d-flex align-items-center justify-content-center">
										<i class="fas fa-close"></i>
									</a>
								{% endif %}
							</td>
							<td>

								<div class='d-flex justify-content-center gap-1'>
									<a href="{{ path('admin_manager_show',{'id':admin.id}) }}" class="text-success btn btn-sm btn-outline-success d-flex align-items-center justify-content-center">
										<i class="fas fa-eye"></i>
									</a>

									<a href="{{ path('admin_manager_edit',{'id':admin.id}) }}" class="text-success btn btn-sm btn-outline-success d-flex align-items-center justify-content-center">
										<i class="fas fa-pencil"></i>
									</a>

									{% include 'admin/super_admin/_delete_form.html.twig' %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
