{% extends 'admin/base_login.html.twig' %}

{% block title %}

	{{ 'Login'|trans({},null, lang) }}

{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row justify-content-center">

			<div class="col-12 col-md-4">

				<form method="post" class="border mt-5 bg-white g-opacity-50 rounded-5 p-4 mx-auto">

					<div class="text-center mb-3">
						<img src="{{ asset("assets/img/favicon-doctaforum.png") }}" class="img-fluid" width="60" alt="MDB Logo" loading="lazy"/>
					</div>

					<h1 class="h3 mb-3 font-weight-normal text-center text-uppercase font-monospace">{{ 'Login'|trans({},null, lang) }}</h1>

					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<!-- Email input -->
					<div class="form-outline mb-4">
						<i class="fas fa-envelope trailing"></i>
						<input type="email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus/>
						<label class="form-label" for="form1Example1">{{ 'Email'|trans({},null, lang) }}</label>
					</div>

					<!-- Password input -->
					<div class="form-outline mb-4">
						<i class="fas fa-lock trailing"></i>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						<label class="form-label" for="form1Example2">{{ 'Password'|trans({},null, lang) }}</label>
					</div>

					<!-- 2 column grid layout for inline styling -->

					<!-- Submit button -->
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-success">{{ 'Login'|trans({},null, lang) }}</button>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				</form>


			</div>
		</div>
	</div>

{% endblock %}
