{% extends 'admin/base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="row w-100 d-flex justify-content-center align-items-center h-100">

		<form method="post" class="col-sm-12 col-md-4">

			<div class="text-center bg-success py-2 mb-3" style="border-top-right-radius:15px;border-top-left-radius:15px">

				<img src="{{ asset("img/doctaforum.png") }}" class="img-fluid" alt="MDB Logo" loading="lazy"/>

			</div>

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus/>
				<label class="form-label" for="form1Example1">Email address</label>
			</div>

			<!-- Password input -->
			<div class="form-outline mb-4">
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>


				<label class="form-label" for="form1Example2">Password</label>
			</div>

			<!-- 2 column grid layout for inline styling -->

			<!-- Submit button -->
			<button type="submit" class="btn btn-success btn-block mx-auto mt-3">Entrar</button>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		</form>

	</div>

{% endblock %}
