<!-- Navbar -->
<nav
	class="navbar navbar-expand-lg navbar-light bg-dark">
	<!-- Container wrapper -->
	<div
		class="container-fluid">
		<!-- Toggle button -->
		<button class="navbar-toggler text-white" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div
			class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Navbar brand -->
			<a class="navbar-brand mt-2 mt-lg-0" href="{{path('user_login')}}">
				<img src="{{ asset("assets/img/doctaforum.png") }}" class="img-fluid" alt="MDB Logo" loading="lazy"/>
			</a>

			{% if is_granted('ROLE_USER') %}
				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-white" href="#">
							{{ 'Welcome %email%!'|trans({'%email%': app.user.email}, null, lang) }}
						</a>
					</li>
				</ul>

			{% endif %}
			<!-- Left links -->
		</div>

		<!-- Collapsible wrapper -->

		<div>

			<ul
				class="navbar-nav me-auto mb-2 mb-lg-0">
				<!-- IDIOMA -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle d-flex align-items-center text-white" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
						<i class="flag flag-{{ lang == 'en' ? 'united-states' : lang == 'pt' ? 'portugal' : 'spain'}}"></i>
			
						{{ lang == 'en' ? 'english'|trans({}, null, lang) }}
						{{ lang == 'es' ? 'spain'|trans({}, null, lang) }}
						{{ lang == 'pt' ? 'portuguese'|trans({}, null, lang) }}

					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{ path('app_language_switch',{'_idioma':'en'}) }}">
								<i class="flag flag-united-states"></i>
								{{ 'english'|trans({}, null, lang) }}
							</a>
						</li>

						<li><hr class="dropdown-divider"/></li>
						<li>

							<a class="dropdown-item" href="{{ path('app_language_switch',{'_idioma':'es'}) }}">
								<i class="flag flag-spain"></i>
								{{ 'spain'|trans({}, null, lang) }}
							</a>
						</li>
						<li><hr class="dropdown-divider"/></li>
						<li>

							<a class="dropdown-item" href="{{ path('app_language_switch',{'_idioma':'pt'}) }}">
								<i class="flag flag-portugal"></i>
								{{ 'portuguese'|trans({}, null, lang) }}
							</a>
						</li>
					</ul>
				</li>

				{% if is_granted('ROLE_USER') %}
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('user_logout') }}">{{ 'Logout'|trans({}, null, lang) }}</a>
					</li>
				{% endif %}
			</ul>


		</div>

	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
