{% extends 'backoffice/base.html.twig' %}

{% block title %}

	{{ 'user_register'|trans({},null, lang) }}

{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-4">

				{{ form_start(formulario,{'attr':{'class':'border mt-5 bg-white g-opacity-50 rounded-5 p-4 mx-auto'}}) }}

				<h1 class="h3 mb-3 font-weight-normal text-center text-uppercase">{{ 'register'|trans({},null, lang) }}</h1>

				<p class="txt-registro-2">
					{{ 'fill_fields_receive_email'|trans({},null, lang) }}
				</p>

				<div class="form-outline mb-4">
					{{ form_widget(formulario.name) }}
					{{ form_label(formulario.name, 'Name'|trans({},null, lang), {'label_attr': {'class': 'form-label'}}) }}

				</div>
				<div class="form-outline mb-4">
					{{ form_widget(formulario.email) }}
					{{ form_label(formulario.email, 'Email'|trans({},null, lang), {'label_attr': {'class': 'form-label'}}) }}
				</div>
				<div class="input-group mb-4">

					{{ form_widget(formulario.password.first,{'attr': {'class': 'form-control form-icon-trailing','placeholder':'Password'|trans({},null, lang)}}) }}

					<span class="input-group-text ">
						<a onclick="changeTypePassword('{{ formulario.password.first.vars.id }}')" class="btn btn-tertiary" id="change-type-password" data-mdb-ripple-color="light">
							<i class="far fa-eye text-dark"></i>
						</a>
					</span>
					<button onclick="createPassword('{{ formulario.password.second.vars.id }}')" class="btn btn-outline-success" type="button" data-mdb-ripple-color="dark">
						Generar
					</button>
				</div>
				
				<div class="input-group mb-4">

					{{ form_widget(formulario.password.second,{'attr': {'class': 'form-control form-icon-trailing','placeholder':'password_confirm'|trans({},null, lang)}}) }}

					<span class="input-group-text">
						<a onclick="changeTypePassword('{{ formulario.password.second.vars.id }}')" class="btn btn-tertiary" id="change-type-password" data-mdb-ripple-color="light">
							<i class="far fa-eye text-dark"></i>
						</a>
					</span>
				</div>

				<div class="mb-4">
					<span class="txt-registro">{{'Are you already registered?'|trans({},null, lang)}}
						<a href="{{ path('user_login') }}">{{'Login'|trans({},null, lang)}}</a>.</span>
				</div>

				<button type="submit" class="btn btn-success btn-block">{{'register'|trans({},null, lang)}}</button>

				{{ form_errors(formulario,{'attr': {'class': 'mb-0'}}) }}

				{% for message in app.flashes('success') %}
					<div class="flash-notice alert alert-success mt-4 mb-0">
						<span class="form-error-icon badge badge-success text-uppercase">{{'Success'|trans({},null, lang)}}</span>
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('errorEmail') %}
					<div class="flash-notice alert alert-danger mt-4 mb-0">
						<span class="form-error-icon badge badge-danger text-uppercase">{{'Error'|trans({},null, lang)}}</span>
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('errorPasswordConfirm') %}
					<div class="flash-notice alert alert-danger mt-4 mb-0">
						<span class="form-error-icon badge badge-danger text-uppercase">{{'Error'|trans({},null, lang)}}</span>
						{{ message }}
					</div>
				{% endfor %}

				{{ form_end(formulario) }}

			</div>
		</div>
	</div>
</div>{% endblock %}
