{% extends 'backoffice/base.html.twig' %}

{% block title %}Registrar usuario
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="row justify-content-center bg-light">
			<div class="col-12 col-md-4">

				{{ form_start(formulario,{'attr':{'class':'border mt-5 bg-white g-opacity-50 rounded-5 p-4 mx-auto'}}) }}

				<h1 class="h3 mb-3 font-weight-normal text-center text-uppercase">Registro</h1>

				<p class="txt-registro-2">
					Rellena los siguientes campos y recibirás un e-mail confirmando tu registro.
				</p>

				<div class="form-outline">
					<div class="form-outline mb-4">
						{{ form_widget(formulario.name) }}
						{{ form_label(formulario.name, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}

					</div>
					<div class="form-outline mb-4">
						{{ form_widget(formulario.email) }}
						{{ form_label(formulario.email, 'E-MAIL', {'label_attr': {'class': 'form-label'}}) }}
					</div>
					<div class="form-outline mb-4">
						{{ form_widget(formulario.password.first) }}
						{{ form_label(formulario.password.first, 'Contraseña', {'label_attr': {'class': 'form-label'}}) }}
					</div>
					<div class="form-outline mb-4">
						{{ form_widget(formulario.password.second) }}
						{{ form_label(formulario.password.second, 'Confirmar contraseña', {'label_attr': {'class': 'form-label'}}) }}
					</div>

					<button type="submit" class="btn btn-success btn-block">Registrar</button>

				</div>
				<div class="my-custom-class-for-errors">

					{{ form_errors(formulario) }}

					{% for message in app.flashes('success') %}
						<div class="flash-notice alert alert-success mt-4 mb-0">
							<span class="form-error-icon badge badge-success text-uppercase">Éxito</span>
							{{ message }}
						</div>
					{% endfor %}

					{% for message in app.flashes('errorEmail') %}
						<div class="flash-notice alert alert-danger mt-4 mb-0">
							<span class="form-error-icon badge badge-danger text-uppercase">Error</span>
							{{ message }}
						</div>
					{% endfor %}

					{% for message in app.flashes('errorPasswordConfirm') %}
						<div class="flash-notice alert alert-danger mt-4 mb-0">
							<span class="form-error-icon badge badge-danger text-uppercase">Error</span>
							{{ message }}
						</div>
					{% endfor %}

				</div>
				{{ form_end(formulario) }}

			</div>
		</div>
	</div>
</div>{% endblock %}
