{{ form_start(form,{'attr':{'class':'border bg-white g-opacity-50 rounded-5 p-4 mx-auto'}}) }}

<div class="form-outline">
	<div class="form-outline mb-4">
		{{ form_widget(form.name) }}
		{{ form_label(form.name, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}

	</div>
	<div class="form-outline mb-4">
		{{ form_widget(form.email) }}
		{{ form_label(form.email, 'E-MAIL', {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="form-outline mb-4">
		{{ form_widget(form.password) }}
		{{ form_label(form.password, 'Contraseña', {'label_attr': {'class': 'form-label'}}) }}
	</div>
	<div class="d-flex justify-content-end">
		<button class="btn btn-outline-success">{{ button_label|default('Registrar') }}</button>
	</div>
</div>
{{ form_end(form) }}
